<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" 
    {% if page.excerpt %}
    content="{{ page.excerpt | strip_html | truncatewords: 50 }}"
    {% else %}
    content="Public Home of a community initiative to improve the Diversity Situation and acting as a watchdog against official and inofficial events and efforts."
    {% endif %}>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">

    <title>
        {% if page.title %}
        {{ page.title }} - Magento Diversity Initiative
        {% else %}
        Magento Diversity Initiative
        {% endif %}
    </title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131468831-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131468831-1', {'anonymize_ip': true});
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% feed_meta %}
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
        <div class="rainbow-box" style="width:100%;height:20px;position:absolute;top:0;"></div>
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/Flyingmana/Magento-Diversity-Initiative">View Source on GitHub</a>
        <div class="header_nav">
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/blog.html">Blog</a>
                <a href="{{ site.baseurl }}/organizer/">For Organizers</a>
                <a href="{{ site.baseurl }}/supporter/">For Supporters</a>
                <a href="{{ site.baseurl }}/link-collection.html">Link List</a>
                <a href="{{ site.baseurl }}/about-us.html">About Us</a>
        </div>
        <h1 id="project_title">Magento Diversity Initiative</h1>
        <!--<h2 id="project_tagline">Public Home of a community initiative to improve the Diversity Situation and acting as a watchdog against official and inofficial events and efforts.</h2>-->
 
    </header>
</div>

<!-- MAIN CONTENT -->

{{ content }}

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
    
    <div class="rainbow-box" style="height:50px"></div>
</div>

</body>
</html>
